<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#000000" />

    <title>registro contable de ventas(crear)</title>

    {# Cargamos la librería #}
    {% load bootstrap5 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %} 

	{# Widget Tweaks #}
    {% load widget_tweaks %}

    {# Archivos #}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">       

  </head>

  <body> 

   <!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Informes Contables</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item" aria-hidden="true"><a class="nav-link active" aria-current="page" title="Ingresados" href="../leer">Ingresados</a></li>
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="crear">Crear Registro</a></li>
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="../api/Contaventas/?format=json">Reporte JSON</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="#">Ingresar</a></li>
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="#">Registarse</a></li>
    </ul>
  </div>
</nav>
<!-- NAVBAR-->
 
<!--carrusel-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="bootstrap" 
                            width="620px" height="350px">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="..." 
                            width="620px" height="350px">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="..." 
                                    width="620px" height="350px">
                            </a>
                            
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--carrusel-->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://es.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "es"
}
  </script>
</div>
<!-- TradingView Widget END -->

    
    <main role="main">

        <div class="container text-center mt-5">

          <div class="row mb-4">
            <div class="col-md-12">
              <h1 style="font-size: 28px;">Como Crear un Registro</h1>              
            </div>
          </div>          

          <div class="row mb-5">

            <div class="card col-md-2">
              <h6 class="mt-4"><strong>Menú</strong></h6> 
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Dashboard</li>
                <li class="list-group-item active">Ventas</li>
                <li class="list-group-item">Configuración</li>
              </ul>
            </div>

            <div class="col-md-10">

              <div class="table-responsive">

                <nav aria-label="breadcrumb mb-3">
        					<ol class="breadcrumb">
        					    <li class="breadcrumb-item"><a href="./">Ventas</a></li>
        					    <li class="breadcrumb-item active">Crear</li>
        					</ol>
        				</nav>

                <div class="formulario" align="left">

                	<h4>Crear</h4>

        					<form method="post" enctype="multipart/form-data">
        					{% csrf_token %}
        						<!-- {{ form.as_p }} -->
        						<div class="form-group">
        						    <label for="numero" class="txt_negrita">N° documento</label>
        						    {{ form.numero|add_class:"form-control" }}
        						</div>
        						<div class="form-group">
        						    <label for="dia" class="txt_negrita">Dia contable</label>
        						    {{ form.dia|add_class:"form-control" }}
        						</div>
        						<div class="form-group">
        						    <label for="documento" class="txt_negrita">Tipo documento</label>
        						    {{ form.documento|add_class:"form-control" }}
        						</div>
                    <div class="form-group">
        						    <label for="fecha" class="txt_negrita">Fecha</label>
        						    {{ form.fecha|add_class:"form-control" }}
        						</div>
                    <div class="form-group">
        						    <label for="cliente" class="txt_negrita">Cliente</label>
        						    {{ form.cliente|add_class:"form-control" }}
        						</div>
                    <div class="form-group">
        						    <label for="neto" class="txt_negrita">Neto</label>
        						    {{ form.neto|add_class:"form-control" }}
        						</div>
                    <div class="form-group">
        						    <label for="iva" class="txt_negrita">Iva</label>
        						    {{ form.iva|add_class:"form-control" }}
        						</div>
                    <div class="form-group">
        						    <label for="total" class="txt_negrita">Valor total</label>
        						    {{ form.total|add_class:"form-control" }}
        						</div>
        						<button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="../leer" type="submit" class="btn btn-primary">Cancelar</a>
        					</form>

                </div>
                
              </div>

            </div>

          </div>          

          
    </main>


    <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a>Alumnos Duoc</a>
      </div> 
    </footer>

      {# JS y jQuery Bootstrap #}
   
    
  </body>
</html>