<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#00000" />
    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>registro contable de ventas</title>

    {# Cargamos la librería #}
    {% load bootstrap5 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %} 

    {# Archivos #}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    
  </head>
 <body> 
  <!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Informes Contables</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item" aria-hidden="true"><a class="nav-link active" aria-current="page" title="Ingresados" href="../leer">Ingresados</a></li>
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="crear">Crear Registro</a></li>
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="../api/Contaventas/?format=json">Reporte JSON</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="#">Ingresar</a></li>
      <li class="nav-item" aria-hidden="true"><a class="nav-link" href="#">Registarse</a></li>
    </ul>
  </div>
</nav>
<!-- NAVBAR-->
 
<!--carrusel-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="bootstrap" 
                            width="620px" height="350px">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="..." 
                            width="620px" height="350px">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="..." 
                                    width="620px" height="350px">
                            </a>
                            
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--carrusel-->

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://es.tradingview.com" rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "ETH/USD"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "es"
}
  </script>
</div>
<!-- TradingView Widget END -->

    <main role="main">
        <div class="container text-center mt-5">
          <div class="row mb-4">
            <div class="col-md-12">
              <h1 style="font-size: 28px;">Registro contable de ventas</h1>              
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h5>Listado de ventas diarias(boletas o facturas)</h5>              
            </div>
          </div>

          <div class="row mb-5">

            <div class="card col-md-2">
              <h6 class="mt-4"><strong>Menú</strong></h6> 
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Dashboard</li>
                <li class="list-group-item active">Ventas</li>
                <li class="list-group-item">Configuración</li>
              </ul>
            </div>

            <div class="col-md-10">

              <div class="table-responsive">

                {% if messages %}
                <ul class="messages list-group mb-3">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div align="left" class="btn_crear mb-3">
                  <a href="crear" type="button" class="btn btn-primary">Crear</a>
                </div>

                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th width="35%">N° documento</th>
                      <th>Dia contable</th>
                      <th>Tipo documento</th>
                      <th>Fecha</th>
                      <th>Cliente</th>
                      <th>Neto</th>
                      <th>Iva</th>
                      <th>valor total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for Contaventas in object_list %}
                    <tr>
                      <td>{{ Contaventas.numero }}</td>
                      <td>{{ Contaventas.dia }}</td>
                      <td>{{ Contaventas.documento }}</td>
                      <td>{{ Contaventas.fecha|date:"d-m-y" }}</td>
                      <td>{{ Contaventas.cliente }}</td>
                      <td>{{ Contaventas.neto }}</td>
                      <td>{{ Contaventas.iva }}</td>
                      <td>{{ Contaventas.total }}</td>
                      
                      <td>
                        
                        <form method="POST" action="eliminar/{{Contaventas.id}}">
                          
                          {% csrf_token %}
                          
                          <div class="btn-group">
                            <a href="detalles/{{Contaventas.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            <a href="editar/{{Contaventas.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                              Eliminar
                            </button>
                            <!-- <a href="eliminar/{{Contaventas.id}}" title="Eliminar"><i class="fas fa-trash"></i> </a> -->                          
                          </div>

                        </form>

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

            </div>

          </div>          

          
    </main>


    <footer class="text-muted mt-3 mb-3">
        <div align="center">
          Desarrollado por <a>Alumnos Duoc</a>
      </div> 
    </footer>

      {# JS y jQuery Bootstrap #}
      <script type="text/javascript">
        function eliminar() {
          var x = confirm("Eliminar Producto ?");
          if (x)
            return true;
          else
            return false;
        }
      </script>
      
    
  </body>
</html>