<ul>
    
    {% for Contaventas in object_list %}
        <li>
            <td>{{ Contaventas.id }},</td>
            <td>{{ Contaventas.numero }},</td>
            <td>{{ Contaventas.dia }},</td>
            <td>{{ Contaventas.documento }},</td>
            <td>{{ Contaventas.fecha|date:"d-m-y"  }},</td>
            <td>{{ Contaventas.cliente }},</td>
            <td>{{ Contaventas.neto }},</td>
            <td>{{ Contaventas.iva }},</td>
            <td>{{ Contaventas.total }};</td>
        </li>
    {% endfor %}
    </ul>

